<app-search-panel
  (tableSelected)="onTableSelected($event)"
  (searchClick)="onSearchClicked($event)"
></app-search-panel>

<div class="tables-content">
  <dx-tab-panel #tabPanel
                [height]="'100%'"
                [dataSource]="tabs"
                [selectedIndex]="selectedIndex"
                [loop]="false"
                [animationEnabled]="true">
    <div *dxTemplate="let tab of 'title'">
      <span>{{tab.name}}</span>
    </div>
    <div *dxTemplate="let tab of 'item'">
      <app-stack-panel [selectedIndex]="tab.id" [contentList]="[allData, matchedData]">
      </app-stack-panel>
    </div>
  </dx-tab-panel>
</div>

<ng-template #allData>
  <app-all-data-grid></app-all-data-grid>
</ng-template>

<ng-template #matchedData>
  <app-matched-data-grid></app-matched-data-grid>
</ng-template>
